:root
{
    --cl-1: #131313;
    --cl-2: #e0e0e0;

    --fs-1: 13rem;
    --fs-2: 4rem;
    --fs-3: 2rem;
    --fs-4: 1.3rem;
    --fs-5: 0.7rem;

    --fw-regular: 400;
    --fw-bold: 700;

    --bg-cl: #b300ff;
    --bg-img: radial-gradient(at 40% 20%, hsla(275,98%,44%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(277,100%,46%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(280,100%,37%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(285,90%,32%,1) 0px, transparent 50%);

}

@font-face {
    font-family: trouble;
    src: url("../assets/font/trouble.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: hoves_pro;
    src: url("../assets/font/hoves_pro_regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cl-1);
    font-family: trouble;
    font-weight: var(--fw-regular);
}

html 
{
    scroll-behavior: smooth;
}
body 
{
    background-color: var(--bg-cl);
    background-image: var(--bg-img);
    
    background-attachment: fixed;
}

img 
{
    width: 100%;
    display: block;
}

ul 
{
    list-style: none;
}

a 
{
    text-decoration: none;
    display: block;
}

.container 
{
    margin-inline: 20px;
}


.nav .nav_content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
} 

.nav .nav_content .nav_logo_link .nav_logo_img 
{
    max-width: 30px;
}

.nav .nav_content .nav_list
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}



.nav .nav_content .nav_list .nav_item 
{
        font-size: var(--fs-4);
        position: relative;
}

.nav .nav_content .nav_list .nav_item::before
{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--cl-2);
    display: block;
    position: absolute;
    top: 13px;
    transition-duration: 0.5s;
}

.nav .nav_content .nav_list .nav_item:hover::before
{
    width: 100%;
}

.nav .nav_content .nav_list .nav_item .nav_link 
{
    color: var(--color2);
}

.nav .nav_content .nav_list.nav_list_active 
{        
    transform: translateX(0);
}


/* HERO */
.hero .hero_content 
{
    margin-block: 20px;
}

.hero .hero_content .hero_name 
{
    font-size: var(--fs-3);
    font-family: trouble;
}

.hero .hero_content .hero_position
{
    font-size: var(--fs-1);
    font-family: trouble;
    line-height: 1;
}

.works .works_content 
{
    background-color: var(--cl-2);
    padding: 20px;
    margin-block: 100px;
    border-radius: 5px;
    max-width: 500px;
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.works .works_content .works_title 
{
    font-family: trouble;
    font-size: var(--fs-2);
    text-align: center;
}

.works .works_content .works_list
{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    row-gap: 100px;
}

.works .works_content .works_list .works_category .works_category_list 
{
    margin-top: 10px;
}

.works .works_content .works_list .works_category .works_category_title
{
    font-size: var(--fs-3);
}

.works .works_content .works_list .works_category .works_category_list .works_category_item .view_work_link,
.works .works_content .works_list .works_category .works_category_list .works_category_item .see_more_link
{
    margin-top: 10px;
    font-size: var(--fs-4);
}

.works .works_content .works_list .works_category .works_category_list .works_category_item .see_more_link
{
    margin-top: 10px;
    float: right;
}


@media screen and (max-width: 768px) {
    :root
    {
        --fs-1: 7rem;
    }
}



