:root
{
    --cl-1: #161616;
    --cl-2: #e0e0e0;
    --cl-3: #202020;

    --fs-1: 20rem;
    --fs-2: 10rem;
    --fs-3: 3rem;
    --fs-4: 2rem;

    --fw-regular: 400;
    --fw-bold: 700;

    --bg-rg: radial-gradient(at 79% 11%, hsla(279,92%,41%,1) 0px, transparent 100%),
    radial-gradient(at 31% 34%, hsla(277,98%,50%,1) 0px, transparent 100%),
    radial-gradient(at 0% 100%, hsla(289,77%,33%,1) 0px, transparent 100%),
    radial-gradient(at 80% 100%, hsla(264,90%,43%,1) 0px, transparent 100%),
    radial-gradient(at 0% 0%, hsla(264,73%,42%,1) 0px, transparent 100%);
}

@font-face {
    font-family: sorren_ex;
    src: url("../assets/font/sorren_ex_medium.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: sorren_ex;
    src: url("../assets/font/sorren_ex_bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: hoves_pro;
    src: url("../assets/font/hoves_pro_regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}






*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cl-2);
    font-family: sorren_ex;
    font-weight: var(--fw-regular);
}

html { scroll-behavior: smooth; }
body 
{
background-color: var(--cl-1);
    background-attachment: fixed;
}

img 
{
    width: 100%;
}

ul 
{
    list-style: none;
}

a 
{
    text-decoration: none;
    display: block;
}

.container 
{
    margin-inline: 20px;
}

.highlight 
{
    /* color: var(--cl-3);
    background: var(--bg-rg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    text-decoration:double;
}

.title 
{
    font-size: var(--fs-2);
    font-weight: var(--fw-bold);
}

.view_work_link,
.see_more_link
{
    margin-top: 10px;
    font-size: var(--fs-4);
    text-decoration: underline;
}

.see_more_link
{
    float: right;
}

.up_right_arrow_icon 
{
    max-width: 14px;
}

/* NAV */
.nav .nav_content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
} 

.nav .nav_content .nav_logo_link .nav_logo_img 
{
    max-width: 30px;
}

.nav .nav_content .nav_list
{
    display: flex;
    gap: 20px;
    text-align: right;
}

.nav .nav_content .nav_list .nav_item 
{
        font-size: var(--fs-4);
        position: relative;
}

.nav .nav_content .nav_list .nav_item::before
{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--cl-2);
    display: block;
    position: absolute;
    top: 50%;
    transition-duration: 0.5s;
}

.nav .nav_content .nav_list .nav_item:hover::before
{
    width: 100%;
}


/* HERO */
.hero .hero_content 
{
    margin-block: 20px;
}

.hero .hero_content .hero_name 
{
    font-size: var(--fs-3);
}

.hero .hero_content .hero_position
{
    line-height: 0.8;
    font-size: var(--fs-1);
    font-weight: var(--fw-bold);
}


/* WORKS */
.works .works_content 
{
    background-color: var(--cl-3);
    padding: 20px;
    margin-block: 100px;
    border-radius: 5px;
    margin-inline: auto;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.works .works_content .works_title 
{
    text-align: center;
}

.works .works_content .works_list
{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    row-gap: 100px;
}

.works .works_content .works_list .works_category .works_category_list 
{
    margin-top: 10px;
}

.works .works_content .works_list .works_category .works_category_list .works_category_item .works_category_item_img
{
    border-radius: 3px;
}


.works .works_content .works_list .works_category .works_category_title
{
    font-size: var(--fs-3);
    font-weight: var(--fw-bold);
}


/* WORK */
.work .work_content
{
    background-color: var(--cl-3);
    padding: 20px;
    margin-block: 100px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.work .work_content .work_list
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 30px;
    margin-top: 30px;
}

.work .work_content .work_list .work_item .work_item_img
{
    border-radius: 3px;
}


.about_me .about_me_content 
{
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 30px;
    background-color: var(--cl-3);
    padding: 20px;
    margin-block: 100px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.about_me .about_me_content .about_me_img
{
    max-width: 450px;
    border-radius: 3px;
}

.about_me .about_me_content .about_me_text 
{
    font-size: var(--fs-4);
}

.about_me .about_me_content .about_me_text .skills_and_tools 
{
    margin-top: 30px;
}

.about_me .about_me_content .about_me_text .dl_resume_link
{
    display: inline-block;
    margin-top: 30px;
    color: var(--cl-2);
    text-decoration: underline;
}


.get_in_touch .get_in_touch_content
{
    text-align: center;
}

.get_in_touch .get_in_touch_content .social_media_list 
{
    margin-top: 20px;
    font-size: var(--fs-3);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.get_in_touch .get_in_touch_content .social_media_list .social_media_item
{
    text-decoration: underline;
}

.get_in_touch .get_in_touch_content .contact_list
{
    margin-top: 30px;
    font-size: var(--fs-3);
}

/* FOOTER */
.footer .footer_content 
{
    text-align: center;
    margin-block: 50px;
}

.footer .footer_content .copy 
{
    font-size: var(--fs-4);
}

@media screen and (max-width: 768px) {
    :root
    {
        --fs-1: 10rem;
        --fs-2: 5rem;
    }
    
    .work .work_content .work_list
    {
        grid-template-columns: 1fr;
    }

    .about_me .about_me_content 
    {
        flex-direction: column;
    }

    .get_in_touch .get_in_touch_content .social_media_list,
    .get_in_touch .get_in_touch_content .contact_list
    {
        font-size: var(--fs-4);
    }
}



